﻿
@{
	ViewBag.Title = "Payer";
}

<div class="card">
	@*<div class="card-header" data-background-color="blue">
			<h4 class="title">Recently Used Payers</h4>
			<p class="category">Payers</p>
		</div>*@
	<div class="card-content table-responsive">
		@*<table id="tblPayer" class="display compact">
				<thead class="text-primary">
				</thead>
				<tbody id="tblPayerBody"></tbody>
			</table>*@
		<div class="row">
			<div class="col-md-12">
				<div id="divLoadingPayer" class="navbar-brand hidden">
					<div><img style="height: 30px; width: 30px;" src="../Content/material-dashboard/assets/img/Cube.gif"><label id="lblLoading">Loading Content...</label></div>
				</div>
				<div class="row">
					<div class="col-md-6 text-left">
						<h4 class="customheader"><i class="fa fa-user-plus"></i> Recently added payers on your account</h4>
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-white btn-sm" onclick="addPayer();"><i class="fa fa-reorder"></i>  Add Payer</button>
						<button class="btn btn-white btn-sm" data-toggle="modal" data-target="#exampleModalLongAllPayer" onclick="loadTable();"><i class="fa fa-reorder"></i>  View All Payers</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="zebra" style="width: 100%;">
							<thead class="">
								<tr>
									<th>Name</th>
									<th>Address</th>
									<th>Phone Number</th>
									<th>Last Date Used</th>
								</tr>
							</thead>
							<tbody id="tblPayerBody"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		@*<div class="row">
				<div class="col-md-5"><a href="#" data-toggle="modal" data-target="#exampleModalLongAllPayer" onclick="loadTable();"><u>View All Payers</u></a></div>
			</div>*@
	</div>
</div>

<!-- Button trigger modal -->
<button type="submit" id="btnAddPayer" class="hidden" data-toggle="modal" data-target="#exampleModalLong">
	Launch demo modal
</button>
<!--All Payer Modal -->
<div class="modal fade" id="exampleModalLongAllPayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllPayeeTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 85%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Select Payer</h4>
				@*<p class="category" id="h4SelectSubModal">Some sub for select payer</p>*@
			</div>
			<div class="card-content table-responsive">
				<div class="zebra">
					<table id="tblPayer" class="" style="width:100%;">
						<thead class="">
						</thead>
						<tbody id="tblPayerBody"></tbody>
					</table>
				</div>
			</div>
			<div class="card-footer">
				<button id="btnCancelPayer" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--All Payer Modal -->
<!--Add/Edit Payer Modal -->
<div class="modal fade" id="exampleModalLong" style="margin-top: -70px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 50%;" role="document">
		<form id="frmInfo">
			<div class="card">
				<div class="card-header" data-background-color="blue">
					<h4 class="title" id="h4PayerModal"></h4>
				</div>
				<div class="card-content table-responsive">
					<input id="payerID" type="text" class="hidden">
					<div class="row">
						<div class="col-md-6">
							<div id="divName" class="form-group label-floating required">
								<label class="control-label">Name</label>
								<input id="payerName" type="text" class="form-control" required>
							</div>
						</div>
						<div class="col-md-6">
							<div id="divFullAddress" class="form-group label-floating required">
								<label class="control-label">Address</label>
								<textarea id="payerFullAddress" class="form-control" rows="4" required></textarea>
							</div>
						</div>
						@*<div class="col-md-4">
								<div id="divAddress" class="form-group label-floating required">
									<label class="control-label">Address Line 1</label>
									<input id="payerAddressLine1" type="text" class="form-control" required>
								</div>
							</div>*@
						@*<div class="col-md-4">
								<div id="divAddressLine2" class="form-group label-floating">
									<label class="control-label">Address Line 2</label>
									<input id="payerAddressLine2" type="text" class="form-control">
								</div>
							</div>*@

					</div>
					<div class="row">
						@*<div class="col-md-4">
								<div id="divCityState" class="form-group label-floating">
									<label class="control-label">City/State</label>
									<input id="payerCityState" type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-2">
								<div id="divPostalCode" class="form-group label-floating">
									<label class="control-label">Zip Code</label>
									<input id="payerPostalCode" type="text" class="form-control">
								</div>
							</div>*@
						<div class="col-md-4">
							<div id="divPhone" class="form-group label-floating">
								<label class="control-label">Phone Number</label>
								<input id="payerPhone" type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-4">
							<div id="divEmail" class="form-group label-floating">
								<label class="control-label">Email Address</label>
								<input id="payerEmail" type="email" class="form-control">
							</div>
						</div>
						<div class="col-md-4">
							<div id="divAccountNumber" class="form-group label-floating required">
								<label class="control-label">Account Number</label>
								<input id="payerAccountNumber" type="text" class="form-control" maxlength="14" minlength="5" required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div id="divBankName" class="form-group label-floating">
								<label class="control-label">Bank Name</label>
								<input id="payerBankName" type="text" class="form-control" readonly>
								<input id="payerBankID" type="text" class="hidden">
							</div>
						</div>
						<div class="col-md-4">
							<div id="divRoutingNumber" class="form-group label-floating">
								<label class="control-label">Routing Number</label>
								<input id="payerRoutingNumber" type="text" class="form-control" maxLength="9" minLength="9" oninput="getSpecificBank()">
							</div>
						</div>
						@*<div class="col-md-1">
								<button title="Choose a bank" onclick="loadBank()" class="btn btn-info btn-sm btn-simple" data-toggle="modal" data-target="#exampleModalLongAllBank"><i class="material-icons">view_carousel</i> Banks</button>
							</div>*@
					</div>
				</div>
				<div class="card-footer">
					<button id="btnSave1" class="btn btn-info hidden" onclick="">
						<i class="material-icons">click</i> Save
					</button>
					<button id="btnSave" type="submit" class="btn btn-info btn-sm" onclick="">
						<i class="fa fa-check"></i> Confirm
					</button>
					<button id="btnClose" class="btn btn-info btn-sm" data-dismiss="modal">
						<i class="fa fa-location-arrow"></i> Cancel
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!--End of Add/Edit Payer Modal -->
<!--All Banks Modal -->
<div class="modal fade" id="exampleModalLongAllBank" style="margin-top: -70px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllBankTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 85%;" role="document">
		<div class="card">
			<div class="card-content table-responsive">
				<table id="tblBank" class="table" style="width:100%;">
					<thead class="">
					</thead>
					<tbody id="tblBankBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCloseBank" type="submit" class="btn btn-info" data-dismiss="modal">
					<i class="material-icons">highlight_off</i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--All Banks Modal -->

@section Scripts
{
	<script src="@Url.Content("~/Scripts/Payer/Payer.js")"></script>
}