﻿@model CHAXWebApp.Models.ChangePasswordViewModel
@{
	ViewBag.Title = "Change Password";
}

<div class="card">
	<div class="card-header" data-background-color="blue">
		<h4 class="title">@ViewBag.Title.</h4>
		<p class="category">Change Password Form.</p>
	</div>
	<div class="card-content table-responsive">
		@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary("", new { @class = "text-danger" })
			<div class="row">
				<div class="col-md-2">
					<div class="form-group label-floating" id="divConfirmPassword">
						@Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
						@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group label-floating" id="divConfirmPassword">
						@Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
						@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group label-floating" id="divConfirmPassword">
						@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<input type="submit" value="Change password" class="btn btn-info" />
				</div>
			</div>
		}
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}