﻿@model CHAXWebApp.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
	ViewBag.Title = "Manage your external logins";
}

<div class="card">
	<div class="card-header" data-background-color="blue">
		<h4 class="title">@ViewBag.Title.</h4>
		<p class="category">Registered Logins.</p>
	</div>
	<div class="card-content table-responsive">
		<p class="text-success">@ViewBag.StatusMessage</p>
		@{
			var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
			if (loginProviders.Count() == 0)
			{
				<div>
					<p>
						There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
						for details on setting up this ASP.NET application to support logging in via external services.
					</p>
				</div>
			}
			else
			{
				if (Model.CurrentLogins.Count > 0)
				{
					<table class="table">
						<tbody>
							@foreach (var account in Model.CurrentLogins)
							{
								<tr>
									<td>@account.LoginProvider</td>
									<td>
										@if (ViewBag.ShowRemoveButton)
										{
											using (Html.BeginForm("RemoveLogin", "Manage"))
											{
												@Html.AntiForgeryToken()
												<div>
													@Html.Hidden("loginProvider", account.LoginProvider)
													@Html.Hidden("providerKey", account.ProviderKey)
													<input type="submit" class="btn btn-danger" value="Remove" title="Remove this @account.LoginProvider login from your account" />
												</div>
											}
										}
										else
										{
											@: &nbsp;
										}
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				if (Model.OtherLogins.Count > 0)
				{
					using (Html.BeginForm("LinkLogin", "Manage"))
					{
						@Html.AntiForgeryToken()
						<div id="socialLoginList">
							<p>
								@foreach (AuthenticationDescription p in Model.OtherLogins)
								{
									if (p.AuthenticationType == "Google")
									{
										<label for="@p.AuthenticationType" class="btn btn-info"><i class="fa fa-google"></i> Google</label>
										<input type="submit" class="hidden" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" />
									}
									else if (p.AuthenticationType == "Facebook")
									{
										<label for="@p.AuthenticationType" class="btn btn-info"><i class="fa fa-facebook"></i> Facebook</label>
										<input type="submit" class="hidden" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" />
									}
									else if (p.AuthenticationType == "LinkedIn")
									{
										<label for="@p.AuthenticationType" class="btn btn-info"><i class="fa fa-linkedin"></i> LinkedIn</label>
										<input type="submit" class="hidden" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" />
									}
								}
							</p>
						</div>
					}
				}
			}
		}

	</div>
</div>