﻿@model CHAXWebApp.Models.SetPasswordViewModel
@{
	ViewBag.Title = "Create Password";
}



<div class="card">
	<div class="card-header" data-background-color="blue">
		<h4 class="title">@ViewBag.Title.</h4>
		<p class="category">Create Local Login.</p>
	</div>
	<div class="card-content table-responsive">
		<p class="text-info">
			You do not have a local username/password for this site. Add a local
			account so you can log in without an external login.
		</p>

		@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { role = "form" }))
		{
			@Html.AntiForgeryToken()

			<h4></h4>
			<hr />
			@Html.ValidationSummary("", new { @class = "text-danger" })
			<div class="row">
				<div class="col-md-2">
					<div class="form-group label-floating" id="divNewPassword">
						@Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
						@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group label-floating" id="divConfirmPassword">
						@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<input type="submit" value="Set password" class="btn btn-info" />
				</div>
			</div>

		}

	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}