﻿@using CHAXWebApp.Models
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CHAX Software, Inc.</title>
	<!-- CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link rel="stylesheet" href="~/Content/bootstrap-login/assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/bootstrap-login/assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/Content/bootstrap-login/assets/css/form-elements.css">
	<link rel="stylesheet" href="~/Content/bootstrap-login/assets/css/style.css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Favicon and touch icons -->
	<link rel="shortcut icon" href="~/Content/bootstrap-login/assets/ico/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/bootstrap-login/assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/bootstrap-login/assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/bootstrap-login/assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="~/Content/bootstrap-login/assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
	<!-- Top content -->
	<div class="top-content">

		<div class="inner-bg">
			<div class="container">

				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text">
						<h1><strong>CHAX</strong> Software, Inc.</h1>
						<div class="description">
							<p>
								A CHECK PRINTING WEB APPLICATION
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 form-box">
						<div class="form-top">
							<div class="form-top-left">
								<h3>Login to our site</h3>
								<p>Enter your username and password to log on:</p>
							</div>
							<div class="form-top-right">
								<i class="fa fa-lock"></i>
							</div>
						</div>
						<div class="form-bottom">
							<form role="form" action="" method="post" class="login-form">
								@RenderBody()
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 social-login">
						<h3>...or login with:</h3>
						<div class="social-login-buttons">
							@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Javascript -->
	@Scripts.Render("~/Content/bootstrap-login/assets/js")
	@Scripts.Render("~/Scripts/js")
	@RenderSection("scripts", required: false)

	<!--[if lt IE 10]>
		<script src="assets/js/placeholder.js"></script>
	<![endif]-->

</body>

</html>
