﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="../Content/material-dashboard/assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Chax Software, Inc.</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
	@Styles.Render("~/Content/material-dashboard/assets/css")
	@Styles.Render("~/Content/datatable-jquery/css")
	@Styles.Render("~/Content/check-style/css")
</head>
<body>
	<div class="wrapper">
		<div class="hidden" id="divSpinner" style="position:absolute; width: 100%; z-index:2000">
			<center>
				<div id="divLoader">
					<div><img style="height: 30px; width: 30px;" src="../Content/material-dashboard/assets/img/Cube.gif"><label id="lblLoading">Loading Content...</label></div>
				</div>
			</center>
		</div>
		<div class="sidebar" data-color="blue" data-image="../Content/material-dashboard/assets/img/sidebar-3.jpg">
			@*C:\Files\Nn\CHAXWebApp\Content\material-dashboard\assets\img\sidebar-3.jpg*@
			<!--
				Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

				Tip 2: you can also add an image using data-image tag
			-->
			<div class="logo">
				<a href="https://devcloudapp.chax.com/" class="simple-text">
					<img src="https://cdn.shopify.com/s/files/1/0014/7010/3618/t/9/assets/logo.png?735817256603032274">
				</a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav" id="navMenus">
					<li id="liDashboard" class="lst">
						@*class specified in script*@
						<a href="@Url.Action("Dashboard", "Dashboard")">
							<i class="material-icons">dashboard</i>
							<p>Dashboard</p>
						</a>
					</li>
					<li id="liChecks" onclick="" class="lst">
						@*class specified in script*@
						<a href="@Url.Action("Checks", "Checks")">
							<i class="material-icons">chrome_reader_mode</i>
							<p>Enter Checks</p>
						</a>
					</li>
					<li id="liPayee" onclick="" class="lst">
						@*class specified in script*@
						<a href="@Url.Action("Payee", "Payee")">
							<i class="material-icons">person_pin_circle</i>
							<p>Payee</p>
						</a>
					</li>
					<li id="liPayer" onclick="" class="lst">
						@*class specified in script*@
						<a href="@Url.Action("Payer", "Payer")">
							<i class="material-icons">person_pin</i>
							<p>Payer</p>
						</a>
					</li>
					<li id="liReports" class="lst">
						@*class specified in script*@
						<a href="@Url.Action("Reports", "Reports")">
							<i class="material-icons">description</i>
							<p>Reports</p>
						</a>
					</li>
					<li id="liUsers" class="lst">
						@*class specified in script*@
						<a href="@Url.Action("Users", "Users")">
							<i class="material-icons">perm_contact_calendar</i>
							<p>Users</p>
						</a>
					</li>
					<li class="lst sidenav" id="liSettings">
						<a href="#" class="dropdown-btn" id="drpSettings">
							<i class="material-icons">perm_data_setting</i>
							<p>Settings <span class="caret"></span></p> 
						</a>
						<div class="dropdown-container" id="drpSettings">
							<a href="@Url.Action("Alignment", "Alignment")" class="btn btn-white btn-sm" id="btnAlignment">Alignment</a>
							<a href="@Url.Action("FormMessages", "FormMessages")" class="btn btn-white btn-sm" id="btnFormMessages">Check Form Messages</a>
							@*<a href="#" class="btn btn-white btn-sm">Add Banner</a>*@
						</div>
					</li>
					<li id="liUsers" class="lst">
						@*class specified in script*@
						<a href="@Url.Action("Users", "Users")">
							<i class="material-icons">schedule</i>
							<p>Activities</p>
						</a>
					</li>
					<li id="upgrade_to_pro" class="lst">
						<a href="@Url.Action("Premium", "Premium")">
							<i class="material-icons">unarchive</i>
							<p id="pPremium">Upgrade to PREMIUM</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-panel">
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"> CHECK PRINTING WEB APPLICATION </a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="getNotification();" title="Notifications">
									<i class="material-icons">notifications</i>
									<span class="notification hidden" id="spanNotif"></span>
									<p class="hidden-lg hidden-md">Notifications</p>
								</a>
								<ul class="dropdown-menu" id="ulNotif">
									@*<li>
											<a href="#">Mike John responded to your email</a>
										</li>
										<li>
											<a href="#">You have 5 new tasks</a>
										</li>
										<li>
											<a href="#">You're now friend with Andrew</a>
										</li>
										<li>
											<a href="#">Another Notification</a>
										</li>
										<li>
											<a href="#">Another One</a>
										</li>*@
								</ul>
							</li>
							<li>
								<a href="@Url.Action("CProfile", "CProfile")" class="dropdown-toggle" title="Profile">
									<i class="material-icons">account_circle</i>
									<p class="hidden-lg hidden-md">Profile</p>
								</a>
							</li>
							<li>
								<a href="@Url.Action("CProfile", "CProfile")" class="dropdown-toggle" title="Invites">
									<i class="material-icons">person</i>
									<p class="hidden-lg hidden-md">Profile</p>
								</a>
						</ul>
						@Html.Partial("_LoginPartial")
						<form class="navbar-form navbar-right" role="search">
							<div class="form-group  is-empty">
								<input type="text" class="form-control" placeholder="Search">
								<span class="material-input"></span>
							</div>
							<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i>
								<div class="ripple-container"></div>
							</button>
						</form>
					</div>
				</div>
			</nav>
			<div class="content">
				@*<div class="divEmailConfirmation"><i class="fa fa-bell" style="font-size:20px;color:red"></i> Please confirm your email first.</div>*@
				@RenderBody()
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul>
							<li>
								<a href="https://devcloudapp.chax.com/">
									Home
								</a>
							</li>
							<li>
								<a href="@Url.Action("Company", "Company")">
									Company
								</a>
							</li>
							<li>
								<a href="https://chaxserver.a2hosted.com">
									MultiCHAX
								</a>
							</li>
						</ul>
					</nav>
					<p class="copyright pull-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())
						</script>
						<a href="https://www.chax.com">Chax Software, Inc.</a>
					</p>
				</div>
			</footer>
		</div>
	</div>
	<!--All Unprinted Modal -->
	<div class="modal fade" id="exampleModalLongAllUnprinted" style="margin-top: -70px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllUnprintedTitle" aria-hidden="true">
		<div class="modal-dialog" style="width: 90%;" role="document">
			<div class="card">
				<div class="card-header" data-background-color="blue">
					<h4 class="title" id="h4SelectModal">Ready-to-print Check</h4>
					<p class="category" id="h4SelectSubModal">Some sub for Ready-to-print Check</p>
				</div>
				<div class="card-content table-responsive">
					<table id="tblAllUnprinted" class="table">
						<thead class="text-info">
							<tr>
								<th>Check Number</th>
								<th>Bank Name</th>
								<th>Payer</th>
								<th>Payee</th>
								<th>Amount</th>
								<th>Date Created</th>
								<th>Date On Check</th>
								<th>Layout</th>
								<th class="text-info">Status</th>
								<th style="width:250px;"></th>
							</tr>
						</thead>
						<tbody id="tblAllUnprintedBody"></tbody>
					</table>
				</div>
				<div class="card-footer">
					<button id="btnCancelAllUnprinted" type="submit" class="btn btn-secondary" data-dismiss="modal">
						<i class="material-icons">highlight_off</i> Close
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--End of All Unprinted Modal -->
	<script>
		/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
		var dropdown = document.getElementsByClassName("dropdown-btn");
		var i;

		for (i = 0; i < dropdown.length; i++) {
			dropdown[i].addEventListener("click", function () {
				this.classList.toggle("active");
				var dropdownContent = this.nextElementSibling;
				if (dropdownContent.style.display === "block") {
					dropdownContent.style.display = "none";
				} else {
					dropdownContent.style.display = "block";
				}
			});
		}
	</script>
</body>
@Scripts.Render("~/Scripts/js")
@Scripts.Render("~/Content/datatable-jquery/js")
@Scripts.Render("~/Content/material-dashboard/assets/js")

@RenderSection("scripts", required: false)


</html>
