﻿@model CHAXWebApp.Models.RegisterViewModel
@using CHAXWebApp.Models
@{
	ViewBag.Title = "Users";
}

<div class="card">
	@*<div class="card-header" data-background-color="blue">
			<h5 class="title">Recently added users on your account</h5>
			<p class="category">Users</p>
		</div>*@
	<div class="card-content table-responsive">
		@*<table id="tblPayer" class="display compact">
				<thead class="text-primary">
				</thead>
				<tbody id="tblPayerBody"></tbody>
			</table>*@
		<div class="row">
			<div class="col-md-6 text-left">
				<h4 class="customheader"><i class="fa fa-user-plus"></i> Recently added users on your account</h4>
			</div>
			<div class="col-md-6 text-right">
				@*<button class="btn btn-white btn-sm" data-toggle="modal" data-target="#exampleModalLongAllRequests" onclick="loadAllRequest();"><i class="fa fa-street-view"></i>  Requests</button>*@
				<button class="btn btn-white btn-sm" data-toggle="modal" data-target="#exampleModalLongSendInvites"><i class="fa fa-reorder"></i>  Add Users</button>
				<button class="btn btn-white btn-sm" data-toggle="modal" data-target="#exampleModalLongAllUsers" onclick="loadAllUsersAll();"><i class="fa fa-paper-plane-o"></i>  View All Users</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="zebra" style="width: 100%;">
					<thead>
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Email Address</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody id="tblUsersBody"></tbody>
				</table>
			</div>
		</div>
		@*<div class="row">
				<div class="col-md-5"><a href="#" data-toggle="modal" data-target="#exampleModalLongAllUsers" onclick="loadTable();"><u>View All Users</u></a></div>
			</div>*@
	</div>
</div>

<!--All Users Modal -->
<div class="modal fade" id="exampleModalLongAllUsers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllUsersTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 65%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">All Users on your account</h4>
			</div>
			<div class="card-content table-responsive">
				<table id="tblAllUsers" class="zebra" style="width:100%;">
					<thead class="">
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Username</th>
							<th>Access</th>
							<th>Rights</th>
						</tr>
					</thead>
					<tbody id="tblAllUsersBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCancelAllUsers" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Close
				</button>
			</div>
		</div>
	</div>
</div>
<!--All Users Modal -->
<!--All Send Invites Modal -->
<div class="modal fade" id="exampleModalLongSendInvites" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongSendInvitesTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 65%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Add User</h4>
			</div>
			<div class="card-content table-responsive">
				@*<div class="row">
						<div class="col-md-4">
							<h4>Type the email address you want to invite</h4>
						</div>
						<div class="col-md-8">
							<h4>Result >> </h4>
						</div>
					</div>*@

				<form id="frmSendInvite">
					<div class="row">
						<div class="col-md-6">
							<div class="alert alert-with-icon alert-default">
								<i class="material-icons" data-notify="icon">add_alert</i>
								<span data-notify="message" id="spanMessage">
									The default password of each user can be modified via Users Settings
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							@*<div class="form-group label-floating required" id="divCheckNumber">
									<label class="control-label">Email Address</label>
									<input type="email" class="form-control" id="inEmailSend" required>
									<button type="submit" id="btnSearchEmail" class="btn btn-sm btn-white" onclick=""><i class="fa fa-search"></i> Search Email</button>
								</div>*@
							<div class="form-group label-floating required" id="divCheckNumber">
								<label class="control-label">Email Address</label>
								<input type="email" class="form-control" id="inEmail" required>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group label-floating required" id="divCheckNumber">
								<label class="control-label">Username</label>
								<input type="text" class="form-control" id="inUserName" required>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-3">
							<button type="submit" id="btnSendAccess" class="btn btn-sm btn-white" onclick=""><i class="fa fa-search"></i> Add and Send Email</button>
						</div>
					</div>
				</form>
			</div>
			<div class="card-footer">
				<button id="btnCancelSendInvites" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--All Send Invites Modal -->
<!--All Requests Modal -->
<div class="modal fade" id="exampleModalLongAllRequests" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllRequestsTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 65%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Requests</h4>
			</div>
			<div class="card-content table-responsive">
				<table id="tblAllRequests" class="zebra" style="width:100%;">
					<thead>
						<tr>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Email Address</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="tblAllRequestsBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCancelAllRequests" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--All Requests Modal -->
<!--Change Rights Modal -->
<div class="modal fade" id="exampleModalLongChangeRights" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongChangeRights" aria-hidden="true">
	<div class="modal-dialog" style="width: 30%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Change Rights</h4>
			</div>
			<div class="card-content table-responsive">
				<table class="zebra" style="width: 100%;">
					<thead>
						<tr>
							<th>Choose</th>
							<th>Access</th>
						</tr>
					</thead>
					<tbody>
						<tr><td><input type="checkbox" /></td><td>Supervisory</td></tr>
						<tr><td><input type="checkbox" /></td><td>Slect Payees</td></tr>
						<tr><td><input type="checkbox" /></td><td>Maintain Payees</td></tr>
						<tr><td><input type="checkbox" /></td><td>Run Transaction Reports</td></tr>
						<tr><td><input type="checkbox" /></td><td>Print Batch Checks</td></tr>
						<tr><td><input type="checkbox" /></td><td>Purge Transaction</td></tr>
						<tr><td><input type="checkbox" /></td><td>Enter Repetitive Checks</td></tr>
						<tr><td><input type="checkbox" /></td><td>Permit CHAX Check Entry</td></tr>
						<tr><td><input type="checkbox" /></td><td>Permit ACH Transaction</td></tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCancelChangeRights" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Cancel
				</button>
				<button id="btnCancelChangeRights" class="btn btn-info btn-sm">
					<i class="fa fa-check"></i> Confirm
				</button>
			</div>
		</div>
	</div>
</div>
<!--Change Rights Modal -->


@section Scripts
{
	<script src="@Url.Content("~/Scripts/Users/Users.js")"></script>
}

