﻿
@{
	ViewBag.Title = "Check";
}

<div id="divCheck">
	@*<p id="drawnToPayTo">aweraweraer</p>
		This is a paragraph
		This is a paragraph
		This is a paragraph
		This is a paragraph
		This is a paragraph
		This is a paragraph
		This is a paragraph
		This is a paragraph
		This is a paragraph
		This is a paragraph
		This is a paragraph
		This is a paragraph
		This is a paragraph*@
	@using (@Html.BeginForm("Pdf", "Check", FormMethod.Post, new { target = "_blank" }))
	{
		<button type="submit" id="btnDownload">Download as PDF</button>
	}

</div>

@*<div id="editor">
		<button id="btnDownload">Download as PDF</button>
	</div>*@

@section Scripts
{
	@*<script src="@Url.Content("~/Scripts/Check/Check.js")"></script>*@
}