﻿
@{
	ViewBag.Title = "Confirm Email";
}

<div class="card">
	<div class="card-header" data-background-color="blue">
		<h4 class="title">@ViewBag.Title.</h4>
		<p class="category">Email Confirmation is needed.</p>
	</div>
	<div class="card-content table-responsive">
		This account is not verified yet. Please verify your account by clicking the link we sent to you email address, @ViewBag.Email. Thank You.
	</div>
</div>


@section Scripts
{
	<script src="@Url.Content("~/Scripts/ConfirmEmail/ConfirmEmail.js")"></script>
}