﻿@model CHAXWebApp.Models.ViewModels.CheckInfoViewModel

@{
	ViewBag.Title = "Dashboard";
}
<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header" data-background-color="orange">
				<i class="material-icons">chrome_reader_mode</i>
			</div>
			<div class="card-content">
				<p class="category">Created checks this month</p>
				<h3 class="title" id="h3TotalChecksThisMonth">
					0
					<small>Checks</small>
				</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons text-info">view_list</i>
					<a href="@Url.Action("Reports", "Reports")">View Details...</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header" data-background-color="green">
				<i class="material-icons">monetization_on</i>
			</div>
			<div class="card-content">
				<p class="category">Total Amount this month</p>
				<h3 class="title" id="h3TotalAmountThisMonth">$0</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons text-info">view_list</i>
					<a href="@Url.Action("Reports", "Reports")">View Details...</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header" data-background-color="red">
				<i class="material-icons">chrome_reader_mode</i>
			</div>
			<div class="card-content">
				<p class="category">Total Created Checks</p>
				<h3 class="title" id="h3TotalChecks">0</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons text-info">view_list</i>
					<a href="@Url.Action("Reports", "Reports")">View Details...</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-6">
		<div class="card card-stats">
			<div class="card-header" data-background-color="blue">
				<i class="material-icons">monetization_on</i>
			</div>
			<div class="card-content">
				<p class="category">Total Amount</p>
				<h3 class="title" id="h3TotalAmount">$0</h3>
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons text-info">view_list</i>
					<a href="@Url.Action("Reports", "Reports")">View Details...</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" style="height: 500px;">
	<div class="col-md-12">
		<div class="card card-nav-tabs">
			@*<div class="card-header" data-background-color="blue">
					<div class="nav-tabs-navigation">
						<div class="nav-tabs-wrapper">
							<ul class="nav nav-tabs" data-tabs="tabs">
								<li class="active">
									<a href="#downloaded" data-toggle="tab" onclick="appendTableBody()">
										<i class="material-icons">save</i> Unprinted Checks
										<div class="ripple-container"></div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>*@
			<div class="card-content">
				<div class="tab-content">
					<div class="tab-pane active" id="downloaded">
						<div id="divLoading" class="navbar-brand hidden">
							<div><img style="height: 30px; width: 30px;" src="../Content/material-dashboard/assets/img/Cube.gif"><label id="lblLoading">Loading Content...</label></div>
						</div>
						<div class="row">
							<div class="col-md-6 text-left">
								<h5 class="customheader"><i class="	fa fa-address-card"></i> Recently created checks</h5>
							</div>
							<div class="col-md-6 text-right">
								<button class="btn btn-white btn-sm" data-toggle="modal" data-target="#exampleModalLongAllCreated" onclick="loadTableAllCreated()"><i class="fa fa-reorder"></i>  View All Checks</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<table class="table zebra" style="width:100%">
									<thead class="">
										<tr>
											<th>Check Number</th>
											<th>Bank Name</th>
											<th>Payer</th>
											<th>Payee</th>
											<th>Amount</th>
											<th>Date Created</th>
											<th>Date On Check</th>
											<th>Layout</th>
											<th class="text-info">Status</th>
											<th style="width:250px;"></th>
										</tr>
									</thead>
									<tbody id="tblPrintedChecks"></tbody>
								</table>
							</div>
						</div>
						@*<div class="row">
								<div class="col-md-2"><a href="#" data-toggle="modal" data-target="#exampleModalLongAllCreated" onclick="loadTableAllCreated()"><u> View All Checks</u></a></div>
							</div>*@
					</div>

					<div class="tab-pane" id="memorized">
						<div id="divLoadingMemorized" class="navbar-brand hidden">
							<div><img style="height: 30px; width: 30px;" src="../Content/material-dashboard/assets/img/Cube.gif"><label id="lblLoading">Loading Content...</label></div>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>Check Number</th>
									<th>Bank Name</th>
									<th>Payer</th>
									<th>Payee</th>
									<th>Amount</th>
									<th>Date Created</th>
									<th style="width:250px;"></th>
								</tr>
							</thead>
							<tbody id="tblMemorizedChecks"></tbody>
						</table>
						<div class="row">
							<div class="col-md-2"><a href="#" data-toggle="modal" data-target="#exampleModalLongAllMemorized" onclick="loadTableAllMemorized()"><u> View All Memorized Checks</u></a></div>
						</div>
						<div class="row" id="pdfDocument">
							<embed type="application/pdf"
								   src="path_to_pdf_document.pdf"
								   id="pdfDocument"
								   style="width:100%; height: 100%;" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--All Created Modal -->
<div class="modal fade" id="exampleModalLongAllCreated" style="margin-top: -70px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllCreatedTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 90%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">All Checks</h4>
				@*<p class="category" id="h4SelectSubModal">Some sub for All Created Checks</p>*@
			</div>
			<div class="card-content">
				<table id="tblAllCreated" class="zebra" style="width: 100%">
					<thead class=""></thead>
					<tbody id="tblAllCreatedBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCancelAllCreated" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--End of All Created Modal -->
<!--All Memorized Modal -->
<div class="modal fade" id="exampleModalLongAllMemorized" style="margin-top: -70px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllMemorizedTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 90%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">All Memorized Checks</h4>
				<p class="category" id="h4SelectSubModal">Some sub for All Memorized Checks</p>
			</div>
			<div class="card-content table-responsive">
				<table id="tblAllMemorized" class="">
					<thead class="text-info"></thead>
					<tbody id="tblAllMemorizedBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCancelAllMemorized" type="submit" class="btn btn-secondary" data-dismiss="modal">
					<i class="material-icons">highlight_off</i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--End of All Memorized Modal -->
<!--Edit Check Modal -->
<div class="modal fade" style="margin-top: -70px;" id="exampleModalEditCheck" tabindex="0" role="dialog" aria-labelledby="exampleModalEditCheckTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 85%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Edit Check</h4>
				<p class="category" id="h4SelectSubModal">Some sub for edit check</p>
			</div>
			<div class="card-content table-responsive">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-nav-tabs">
							<div class="card-content">
								<div class="tab-content">
									<div class="tab-pane active" id="profile">
										@*@using (@Html.BeginForm("Pdf", "Check", FormMethod.Post, new { id = "frmCheckInfo" }))*@
										@using (Ajax.BeginForm("Pdf", "Check", new AjaxOptions { HttpMethod = "Post", OnSuccess = "GetJsonResult" }))
										{
											<div class="row">
												<div class="col-md-2">
													<div class="form-group label-floating required" id="divCheckNumber">
														<label class="control-label">Check Number</label>
														@Html.TextBoxFor(m => m.ID, new { @class = "hidden", @type = "text", @id = "inCheckID" })
														@Html.TextBoxFor(m => m.CheckNumber, new { @class = "form-control", @type = "text", @pattern = "\\d*", @id = "inCheckNumber", @required = true })
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group label-floating required" id="divPayerName">
														<label class="control-label">Payer Name</label>
														@Html.TextBoxFor(m => m.PayerName, new { @class = "form-control", @id = "inPayerName", @required = true })
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group label-floating" id="divAddress">
														<label class="control-label">Address and Phone</label>
														@Html.TextAreaFor(m => m.PayerAddress, new { @class = "form-control", @id = "inAddress", @rows = "5", @name = "PayerAddress" })
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-2">
													<div class="form-group label-floating required" id="divBankName">
														<label class="control-label">Bank Name</label>
														@Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @id = "inBankName", @required = true })
														<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#exampleModalLongAllBankChecks" onclick="loadBank();">Banks</button>
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group label-floating" id="divBankAddress">
														<label class="control-label">Bank Address</label>
														@*@Html.TextAreaFor(m => m.BankAddress, new { @class = "form-control", @id = "taBankAddress", @rows = "2" })*@
														<textarea id="taBankAddress" class="form-control" rows="2"></textarea>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group label-floating required" id="divRoutingNumber">
														<label class="control-label">Routing Number</label>
														@Html.TextBoxFor(m => m.RoutingNumber, new { @class = "form-control", @type = "text", @pattern = "\\d*", @maxLength = "9", @id = "inRoutingNumber", @required = true })
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group label-floating required" id="divAccountNumber">
														<label class="control-label">Account Number</label>
														@Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control", @maxLength = "13", @minLength = "5", @id = "inAccountNumber", @required = true })
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-2">
													<button type="button" id="btnSelectPayer" class="btn btn-info btn-sm pull-left" data-toggle="modal" data-target="#exampleModalLongPayer">
														<i class="material-icons">search</i> Select Payer
													</button>
													<button type="button" id="btnClearPayer" class="btn btn-default btn-sm pull-left">
														<i class="material-icons">clear_all</i> Clear
													</button>
												</div>
											</div>
											<div class="row">
												<div class="col-md-1">
													<div class="form-group label-floating required" id="divAmountInDigits">
														<label class="control-label">Amount $</label>
														@Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @id = "inAmountInDigits", @type = "number", @min = "1", @step = "any", @required = true })
													</div>
												</div>
												<div class="col-md-5">
													<div class="form-group label-floating" id="divAmountInWords">
														<label class="control-label">Amount in words</label>
														@Html.TextBoxFor(m => m.AmountInWords, new { @class = "form-control", @id = "inAmountInWords", @required = true, @readonly = true })
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group label-floating required" id="divDate">
														<label class="control-label">Date</label>
														@Html.TextBoxFor(m => m.Date, new { @class = "form-control", @id = "inDate", @onfocus = "(this.type='date')", @onblur = "(this.type='text')", @required = true })
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3">
													<div class="form-group label-floating required" id="divPayeeName">
														<label class="control-label">Payee Name</label>
														@Html.TextBoxFor(m => m.PayeeName, new { @class = "form-control", @id = "inPayeeName", @required = true })
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group label-floating" id="divDrawnToPayTo">
														<label class="control-label">Address and Phone</label>
														@Html.TextAreaFor(m => m.Payee, new { @class = "form-control", @id = "taDrawnToPayTo", @rows = "5", @onblur = "getFirstLine();" })
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group label-floating" id="divMemo">
														<label class="control-label">Memo</label>
														@Html.TextBoxFor(m => m.Memo, new { @class = "form-control", @id = "inMemo" })
													</div>
												</div>
												@*<div class="col-md-2">
														<div class="form-group label-floating">
															<label class="control-label">Transit Number</label>
															<input type="text" class="form-control">
														</div>
													</div>*@
											</div>
											<div class="row">
												<div class="col-md-4">
													<div class="alert alert-default alert-with-icon" data-notify="container">
														<i data-notify="icon" class="material-icons">add_alert</i>
														<span data-notify="message">
															SIGNATURE NOT REQUIRED. THIS PAYMENT HAS BEEN AUTHORIZED BY YOUR DEPOSITOR. Any questions? Call: (Payer's phone number inserted here). SIGNED: (Payer's name will be inserted here) by
															authorized representative.
														</span>
													</div>
												</div>
												<div class="col-md-2">
													<button type="button" id="btnSelectPayee" class="btn btn-info btn-sm pull-left" data-toggle="modal" data-target="#exampleModalLongPayee">
														<i class="material-icons">search</i> Select Payee
													</button>
													<button type="button" id="btnClearPayee" class="btn btn-default btn-sm pull-left">
														<i class="material-icons">clear_all</i> Clear
													</button>
												</div>
											</div>
											<div class="row">
												<div class="alert alert-default">
													<label class="radio-inline">
														Check Layout
													</label>
													<label class="radio-inline">
														<input type="radio" name="optradio" value="Top" checked="checked">Top
													</label>
													<label class="radio-inline">
														<input type="radio" name="optradio" value="Middle">Middle
													</label>
													<label class="radio-inline">
														<input type="radio" name="optradio" value="Bottom">Bottom
													</label>
													<label class="radio-inline">
														<input type="radio" name="optradio" value="Batch">Batch
													</label>
													@Html.TextBoxFor(m => m.BankAddress, new { @class = "hidden", @id = "inBankAddressLine1" })
													@Html.TextBoxFor(m => m.BankCityStateZip, new { @class = "hidden", @id = "inBankAddressLine2" })
													@Html.TextBoxFor(m => m.CheckLayout, new { @class = "hidden", @id = "inLayout" })
													@Html.TextBoxFor(m => m.ProcessType, new { @class = "hidden", @id = "inProcessType" })
												</div>
											</div>
											<button id="btnSubmit" type="submit" name="action:Download" class="hidden">Submit</button>
											<input type="text" class="hidden" id="inProc">
										}
										<div class="clearfix">
											<button id="btnSave" type="submit" class="btn btn-info pull-left">
												<i class="material-icons">save</i> Save
											</button>
											<button id="btnCancelEdit" type="button" class="btn btn-secondary pull-left" data-dismiss="modal">
												<i class="material-icons">highlight_off</i> Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Edit Check Modal -->
<!--Add/Edit Payer Modal -->
<div class="modal fade" id="exampleModalLongPayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 85%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Select Payer</h4>
				@*<p class="category" id="h4SelectSubModal">Some sub for select payer</p>*@
			</div>
			<div class="card-content table-responsive">
				<table id="tblPayer" class="">
					<thead class="text-info"></thead>
					<tbody id="tblPayerBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCancelPayer" type="submit" class="btn btn-secondary" data-dismiss="modal">
					<i class="material-icons">highlight_off</i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--End of Add/Edit Payer Modal -->
<!--Add/Edit Payee Modal -->
<div class="modal fade" id="exampleModalLongPayee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 85%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Select Payee</h4>
				<p class="category" id="h4SelectSubModal">Some sub for select payee</p>
			</div>
			<div class="card-content table-responsive">
				<table id="tblPayee" class="">
					<thead class="text-info"></thead>
					<tbody id="tblPayerBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCancelPayee" type="submit" class="btn btn-secondary" data-dismiss="modal">
					<i class="material-icons">highlight_off</i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--End of Add/Edit Payee Modal -->
<!--All Banks Modal -->
<div class="modal fade" id="exampleModalLongAllBankChecks" style="margin-top: -70px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllBankTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 90%;" role="document">
		<div class="card">
			<div class="card-content table-responsive">
				<table id="tblBankChecks" class="table" style="width:100%;">
					<thead class="">
					</thead>
					<tbody id="tblBankChecksBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCloseBank" type="submit" class="btn btn-info" data-dismiss="modal">
					<i class="material-icons">highlight_off</i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--All Banks Modal -->
<!-- Confirm Delete Modal -->
<div class="modal fade" id="exampleModalLongConfirmDelete" style="margin-top: -70px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongConfirmDeleteTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 30%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4>Confirm Delete</h4>
			</div>
			<div class="card-content table-responsive">
				<h4>Delete the selected Check?</h4>
				<div>CHECK NUMBER   <label id="lblCheckNumber"></label></div>
				<input id="inDeleteID" type="text" class="hidden" />
				<input id="inDeleteCheckNumber" type="text" class="hidden" />
			</div>
			<div class="card-footer text-right">
				<button id="btnCloseDeleteCheck" type="submit" class="btn btn-info" data-dismiss="modal">
					<i class="material-icons">highlight_off</i> Cancel
				</button>
				<button id="btnDeleteCheck" type="submit" class="btn btn-info" data-dismiss="modal" onclick="removeCheck('all')">
					<i class="material-icons">delete</i> Yes
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Confirm Delete Modal Modal -->
<!-- Preview Modal -->
<div class="modal fade" id="exampleModalLongPreview" style="margin-top: -90px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongPreviewTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 50%; height: 100%;" role="document">
		<div class="card">
			@*<div class="card-header" data-background-color="blue">
				<h4>Confirm Delete</h4>
			</div>*@
			<div class="card-content" id="modalPreviewContent">
				@*<object data="" type="image/jpeg" style="width: 100%;">

				</object>*@
				<img src="" id="imgPreview" style="width: 100%; border:1px solid black;">
			</div>
			<div class="card-footer text-right">
				<button id="btnCloseDeleteCheck" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Close
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Preview Modal -->


@section Scripts
{
	<script src="@Url.Content("~/Scripts/Dashboard/Checks.js")"></script>
	<script src="@Url.Content("~/Scripts/Dashboard/Dashboard.js")"></script>
}