﻿
@{
	ViewBag.Title = "FormMessages";
}

<div class="card">
	<div class="card-content">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 text-left">
						<h4 class="customheader"><i class="fa fa-user-plus"></i> Set up a message for check form</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 text-left">
						<div id="divMessage" class="form-group label-floating">
							<label class="control-label">Message</label>
							<textarea id="taMessage" class="form-control" rows="4" required></textarea>
						</div>
					</div>
				</div>                     
			</div>
		</div>
	</div>
	<div class="card-footer">
		<button id="btnSaveMessage" type="submit" class="btn btn-info btn-sm" onclick="addMessage();">
			<i class="fa fa-check-square-o"></i> Save
		</button>
	</div>
</div>


@section Scripts
{
	<script src="@Url.Content("~/Scripts/FormMessages/FormMessages.js")"></script>
}



