﻿
@{
	ViewBag.Title = "Alignment";
}

<div class="card">
	<div class="card-content">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 text-left">
						<h4 class="customheader"><i class="fa fa-user-plus"></i> Adjust Check and MICR Alignment</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<img src="~/Files/Full.jpg" style="height:100%; width: 100%;">
					</div>
					<div class="col-md-5">
						<div class="row">
							<h5 class="customheader"><i class="fa fa-address-card-o"></i> Entire Check Alignment</h5>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div id="divName" class="form-group label-floating">
									<label class="control-label">From current horizontal position</label>
									<input id="inCheckHor" type="number" value="0.00" class="form-control" required>
								</div>
								<div id="divName" class="form-group label-floating">
									<label class="control-label">From current vertical position</label>
									<input id="inCheckVer" type="number" value="0.00" class="form-control" required disabled>
								</div>
							</div>
						</div>

						<div class="row">
							<h5 class="customheader"><i class="fa fa-ellipsis-h"></i> MICR Alignment</h5>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div id="divName" class="form-group label-floating">
									<label class="control-label">From current horizontal position</label>
									<input id="inMICRHor" type="number" value="0.00" class="form-control" required>
								</div>
								<div id="divName" class="form-group label-floating">
									<label class="control-label">From current vertical position</label>
									<input id="inMICRVer" type="number" value="0.00" class="form-control" required>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<button id="btnCancelPayer" type="submit" class="btn btn-info btn-sm" onclick="saveAlignment()">
			<i class="fa fa-check-square-o"></i> Save
		</button>
		<button id="btnCancelPayer" type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModalLongTest" onclick="testpreview2('00000001', '899999999')">
			<i class="fa fa-external-link"></i> Test
		</button>
	</div>
</div>

<!-- Preview Modal -->
<div class="modal fade" id="exampleModalLongTest" style="margin-top: -90px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTestTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 50%; height: 100%;" role="document">
		<div class="card">
			@*<div class="card-header" data-background-color="blue">
					<h4>Confirm Delete</h4>
				</div>*@
			<div class="card-content" id="modalPreviewContentTest">
				@*<object data="" type="image/jpeg" style="width: 100%;">

					</object>*@
				<img src="" id="imgPreviewTest" style="width: 100%; border:1px solid black;">
			</div>
			<div class="card-footer text-right">
				<button id="btnCloseDeleteCheck" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Close
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Preview Modal -->



@section Scripts
{
	<script src="@Url.Content("~/Scripts/Alignment/Alignment.js")"></script>
}

