﻿@model CHAXWebApp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
	var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
	if (loginProviders.Count() == 0)
	{
		<div>
			<p>
				There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
				for details on setting up this ASP.NET application to support logging in via external services.
			</p>
		</div>
	}
	else
	{
		using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
		{
			@Html.AntiForgeryToken()

			foreach (AuthenticationDescription p in loginProviders)
			{
				if (p.AuthenticationType == "Google")
				{

					<label for="@p.AuthenticationType" class="btn btn-link-2"><i class="fa fa-google"></i> Google</label>
					<input type="submit" class="hidden" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" />
				}
				else if (p.AuthenticationType == "Facebook")
				{
					<label for="@p.AuthenticationType" class="btn btn-link-2"><i class="fa fa-facebook"></i> Facebook</label>
					<input type="submit" class="hidden" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" />
				}
				else if (p.AuthenticationType == "LinkedIn")
				{
					<label for="@p.AuthenticationType" class="btn btn-link-2"><i class="fa fa-linkedin"></i> LinkedIn</label>
					<input type="submit" class="hidden" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account" />
				}
			}

		}
	}
}
