﻿@using CHAXWebApp.Models
@model LoginViewModel

@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section id="loginForm">
	@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.TextBoxFor(m => m.UserName, new { @class = "form-username form-control", placeholder = "Email Address..." })
			@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
		</div>
		<div class="form-group">
			@Html.PasswordFor(m => m.Password, new { @class = "form-password form-control", placeholder = "Password..." })
			@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
		</div>

		@*<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.RememberMe)
						@Html.LabelFor(m => m.RememberMe)
					</div>
				</div>
			</div>*@

		<button type="submit" class="btn">Log in</button>


		<p>
			<hr />
			@Html.ActionLink("Register as a new user", "Register")

		</p>

		//Enable this once you have account confirmation enabled for password reset functionality
		@*<p>
				@Html.ActionLink("Forgot your password?", "ForgotPassword")
			</p>*@
	}
</section>

