﻿@model CHAXWebApp.Models.RegisterViewModel
@using CHAXWebApp.Models
@{
	/**/

	ViewBag.Title = "Register";
}
<div class="card">
	<div class="card-header" data-background-color="blue">
		<h4 class="title">Sign Up for an account</h4>
		<p class="category">Please fill out the fields.</p>
	</div>
	<div class="card-content table-responsive">
		@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary("", new { @class = "text-danger" })

			<div class="row">
				@*<div class="form-group">
						@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						</div>
					</div>*@

				<div class="col-md-3">
					<div class="form-group label-floating" id="divMemo">
						@Html.LabelFor(m => m.Email, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				@*<div class="form-group">
						@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
						</div>
					</div>*@

				<div class="col-md-3">
					<div class="form-group label-floating" id="divMemo">
						@Html.LabelFor(m => m.Password, new { @class = "control-label" })
						@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				@*<div class="form-group">
						@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
						</div>
					</div>*@

				<div class="col-md-3">
					<div class="form-group label-floating" id="divMemo">
						@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" }) 
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				@*<div class="form-group">
						@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
			
					@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
						</div>
					</div>*@

				<div class="col-md-3">
					<div class="form-group label-floating" id="divMemo">
						@Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				@*<div class="form-group">
						@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
						</div>
					</div>*@

				<div class="col-md-3">
					<div class="form-group label-floating" id="divMemo">
						@Html.LabelFor(m => m.LastName, new { @class = "control-label" })
						@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
					<input type="submit" class="btn btn-info" value="Register" />
				</div>
			</div>
		}
		<h4>Or signin with</h4>
		<hr />

		<div class="row">
			<div class="col-md-4">
				@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
				@*<a class="btn btn-social btn-facebook">
						<span class="fa fa-facebook"></span> Facebook
					</a>
					<a class="btn btn-social btn-linkedin">
						<span class="fa fa-linkedin"></span> LinkedIn
					</a>
					<a class="btn btn-social btn-google">
						<span class="fa fa-google"></span> Google
					</a>*@
			</div>
		</div>


	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
