﻿
@{
	ViewBag.Title = "Payee";
}
<div class="card">
	@*<div class="card-header" data-background-color="blue">
		<h4 class="title">Payees' Table</h4>
		<p class="category">Here is a subtitle for this table</p>
	</div>*@
	<div class="card-content table-responsive">
		<div class="row">
			<div class="col-md-12">
				<div id="divLoadingPayee" class="navbar-brand hidden">
					<div><img style="height: 30px; width: 30px;" src="../Content/material-dashboard/assets/img/Cube.gif"><label id="lblLoading">Loading Content...</label></div>
				</div>
				<div class="row">
					<div class="col-md-6 text-left">
						<h4 class="customheader"><i class="fa fa-user-plus"></i> Recently added payees on your account</h4>
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-white btn-sm" onclick="addPayee();"><i class="fa fa-plus-square"></i>  Add Payee</button>
						<button class="btn btn-white btn-sm" data-toggle="modal" data-target="#exampleModalLongAllPayee" onclick="loadTable();"><i class="fa fa-reorder"></i>  View All Payees</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="zebra" style="width: 100%;">
							<thead class="">
								<tr>
									<th>Name</th>
									<th>Address</th>
									<th>Phone Number</th>
									<th>Last Date Used</th>
								</tr>
							</thead>
							<tbody id="tblPayeeBody"></tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
		@*<div class="row">
			<div class="col-md-5"><a href="#" data-toggle="modal" data-target="#exampleModalLongAllPayee" onclick="loadTable();"><u>View All Payees</u></a></div>
		</div>*@
	</div>
</div>

<!-- Button trigger modal -->
<button type="submit" id="btnAddPayee" class="hidden" data-toggle="modal" data-target="#exampleModalLong">
	Launch demo modal
</button>

<!--All Payee Modal -->
<div class="modal fade" id="exampleModalLongAllPayee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllPayeeTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 85%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">All Payees</h4>
			</div>
			<div class="card-content table-responsive">
				<table id="tblPayee" class="zebra" style="width:100%;">
					<thead class="">
					</thead>
					<tbody id="tblPayeeBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCancelPayee" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--All Payee Modal -->
<!--Add/Edit Payee Modal -->
<div class="modal fade" id="exampleModalLong" style="margin-top: -70px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 50%;" role="document">
		<form id="frmInfo">
			<div class="card">
				<div class="card-header" data-background-color="blue">
					<h4 class="title" id="h4PayeeModal"></h4>
					@*<p class="category" id="h4SubPayeeModal"></p>*@
				</div>
				<div class="card-content table-responsive">
					<input id="payeeID" type="text" class="hidden">
					<div class="row">
						<div class="col-md-3">
							<div id="divName" class="form-group label-floating required">
								<label class="control-label">Name</label>
								<input id="payeeNameID" type="text" value="xxxxxxxxxxxxx" class="hidden">
								<input id="payeeName" type="text" class="form-control" required>
							</div>
						</div>
						@*<div class="col-md-4">
								<div id="divAddress" class="form-group label-floating">
									<label class="control-label">Address Line 1</label>
									<input id="payeeAddressLine1" type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div id="divAddressLine2" class="form-group label-floating">
									<label class="control-label">Address Line 2</label>
									<input id="payeeAddressLine2" type="text" class="form-control">
								</div>
							</div>*@
						<div class="col-md-6">
							<div id="divPayeeFullAddress" class="form-group label-floating required">
								<label class="control-label">Address</label>
								<textarea id="payeeFullAddress" class="form-control" rows="4" required></textarea>
							</div>
						</div>
						<div class="col-md-3">
							<div id="divPhone" class="form-group label-floating">
								<label class="control-label">Phone Number</label>
								<input id="payeePhone" type="text" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						@*<div class="col-md-4">
								<div id="divCityState" class="form-group label-floating">
									<label class="control-label">City/State</label>
									<input id="payeeCityState" type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div id="divPostalCode" class="form-group label-floating">
									<label class="control-label">Zip Code</label>
									<input id="payeePostalCode" type="text" class="form-control">
								</div>
							</div>*@

						@*<div class="col-md-4">
								<div id="divMemo" class="form-group label-floating">
									<label class="control-label">Memo for this payer</label>
									<input id="payeeMemo" type="text" class="form-control">
								</div>
							</div>*@
					</div>
				</div>
				<div class="card-footer">
					<button id="btnSave1" class="btn btn-info hidden" onclick="">
						<i class="material-icons">save</i> Save
					</button>
					<button id="btnSave" type="submit" class="btn btn-info btn-sm" onclick="">
						<i class="fa fa-check"></i> Confirm
					</button>
					<button id="btnClose" class="btn btn-info btn-sm" data-dismiss="modal">
						<i class="fa fa-location-arrow"></i> Cancel
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!--End of Add/Edit Payee Modal -->

@section Scripts
{
	<script src="@Url.Content("~/Scripts/Payee/Payee.js")"></script>
}








