﻿@model CHAXWebApp.Models.ViewModels.CheckInfoViewModel
@{
	ViewBag.Title = "Enter Checks";
}
<div class="row">
	<div class="col-md-12">
		<div class="card card-nav-tabs">
			@*<div class="card-header" data-background-color="blue">
					<div class="nav-tabs-navigation">
						<div class="nav-tabs-wrapper">
							<ul class="nav nav-tabs" data-tabs="tabs">
								<li class="active">
									<a href="#profile" data-toggle="tab">
										<i class="material-icons">chrome_reader_mode</i> Enter Checks
										<div class="ripple-container"></div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>*@
			<div class="card-content">
				<div class="tab-content">
					<div class="tab-pane active" id="profile">
						@*@using (@Html.BeginForm("Pdf", "Check", FormMethod.Post, new { target = "", id = "frmCheckInfo" }))*@
						@using (Ajax.BeginForm("CreateCheck", "Check", new AjaxOptions { HttpMethod = "Post", OnSuccess = "GetJsonResult", OnBegin = "onBeginAJAX", OnComplete = "onCompleteAJAX(xhr)" }))
						{
							<div class="row">
								<div class="col-md-3 text-left" style="">
									<h4 class="customheader"><i class="fa fa-pencil"></i> Enter Check Information</h4>
									<button type="button" id="btnSelectPayer" class="btn btn-white btn-sm pull-left" data-toggle="modal" data-target="#exampleModalLongPayer">
										<i class="material-icons">search</i> Select Payer
									</button>
									<button type="button" id="btnClearPayer" class="btn btn-white btn-sm pull-left" onclick="clearPayer()">
										<i class="material-icons">clear_all</i> Clear
									</button>
								</div>
								<div class="col-md-8" style="height: 100%;">
									<div class="alert alert-with-icon alert-info">
										<i class="material-icons" data-notify="icon">add_alert</i>
										<span data-notify="message" id="spanMessage">
											Message...
										</span>
									</div>
									
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<div class="form-group label-floating required" id="divCheckNumber">
										<label class="control-label">Check Number</label>
										@Html.TextBoxFor(m => m.ID, new { @class = "hidden", @type = "text", @id = "inCheckID", @value = "0" })
										@Html.TextBoxFor(m => m.CheckNumber, new { @class = "form-control", @type = "text", @maxLength = "10", @pattern = "\\d*", @id = "inCheckNumber", @required = true })
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group label-floating required" id="divPayerName">
										<input type="text" id="inPayerID" class="hidden" value="0">
										<label class="control-label">Payer Name</label>
										@Html.TextBoxFor(m => m.PayerName, new { @class = "form-control", @id = "inPayerName", @required = true })
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group label-floating" id="divAddress">
										<label class="control-label">Payer's Address</label>
										@Html.TextAreaFor(m => m.PayerAddress, new { @class = "form-control", @id = "inAddress", @rows = "4", @name = "PayerAddress" })
										@*@Html.TextAreaFor(m => m.PayerAddress, new { @class = "form-control readonly1", @id = "inAddress", @rows = "5", @onclick = "showAddressModal()", @name = "PayerAddress" })*@
										@*<input type="button" class="hidden" id="btnShowAddressModal" data-toggle="modal" data-target="#exampleModalLongAdddress">
											<input type="text" class="hidden" id="inPayerLine1">
											<input type="text" class="hidden" id="inPayerLine2">
											<input type="text" class="hidden" id="inPayerCity">
											<input type="text" class="hidden" id="inPayerZip">
											<input type="text" class="hidden" id="inPayerPhone">*@
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group label-floating" id="divPayerPhone">
										<label class="control-label">Phone Number</label>
										@Html.TextBoxFor(m => m.PayerPhone, new { @class = "form-control", @id = "inPayerPhone", @type = "tel" })
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group label-floating required" id="divPayerEmail">
										<label class="control-label">Payer Email Address</label>
										@Html.TextBoxFor(m => m.PayerEmail, new { @class = "form-control", @id = "inPayerEmail", @type = "email", @required = true })
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group label-floating required" id="divAccountNumber">
										<label class="control-label">Account Number</label>
										@Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control", @type = "text", @pattern = ".{5,}", @maxLength = "14", @id = "inAccountNumber", @required = true })
									</div>
								</div>
								<div class="hidden">
									<div class="form-group label-floating" id="divBankAddress">
										<label class="control-label">Bank Address</label>
										@Html.TextAreaFor(m => m.BankAddress, new { @class = "form-control", @id = "taBankAddress", @rows = "2" })
										@*<textarea id="taBankAddress" class="form-control" rows="2" readonly></textarea>*@
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group label-floating required" id="divRoutingNumber">
										<label class="control-label">Routing Number</label>
										@Html.TextBoxFor(m => m.RoutingNumber, new { @class = "form-control", @type = "text", @pattern = "\\d*", @maxLength = "9", @minLength = "9", @id = "inRoutingNumber", @oninput = "getSpecificBank()", @required = true })
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group label-floating" id="divBankName">
										<label class="control-label">Bank Name</label>
										<input type="text" id="inBankID" class="hidden">
										@Html.TextBoxFor(m => m.BankName, new { @class = "form-control readonly1", @id = "inBankName", @required = true })
										@*<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#exampleModalLongAllBankChecks" onclick="loadBank();">Banks</button>*@
									</div>
								</div>
								@*<div class="col-md-3">
										<div class="alert alert-default" data-notify="container">
											<span data-notify="message">
												&lt;-- Do not enter check number here
											</span>
										</div>
									</div>*@
							</div>
							<div class="row">
								<div class="col-md-2">
									<div class="form-group label-floating required" id="divAmountInDigits">
										<label class="control-label">Amount $</label>
										@Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @id = "inAmountInDigits", @type = "number", @min = "1", @max = "9999.99", @step = "0.01", @required = true })
									</div>
								</div>
								<div class="hidden">
									<div class="form-group label-floating" id="divAmountInWords">
										<label class="control-label">Amount in words</label>
										@Html.TextBoxFor(m => m.AmountInWords, new { @class = "form-control", @id = "inAmountInWords", @required = true, @readonly = true })
									</div>
								</div>
								@*<div class="col-md-2">
										<div class="form-group label-floating required" id="divDate">
											<label class="control-label">Date</label>
											@Html.TextBoxFor(m => m.Date, new { @class = "form-control", @id = "inDate", @onfocus = "(this.type='date')", @onblur = "(this.type='text')", @onchange = "handler(event)", @required = true })
										</div>
									</div>*@
								<div class="col-md-2">
									<div class="form-group label-floating required" id="divDate">
										<label class="control-label">Date</label>
										@Html.TextBoxFor(m => m.Date, new { @class = "form-control readonly1", @id = "inDate", @type = "text", @required = true })
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<button type="button" id="btnSelectPayee" class="btn btn-white btn-sm pull-left" data-toggle="modal" data-target="#exampleModalLongPayee">
										<i class="material-icons">search</i> Select Payee
									</button>
									<button type="button" id="btnClearPayee" class="btn btn-white btn-sm pull-left" onclick="clearPayee()">
										<i class="material-icons">clear_all</i> Clear
									</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group label-floating required" id="divPayeeName">
										<label class="control-label">Payee Name</label>
										<input type="text" id="inPayeeID" class="hidden" value="0">
										@Html.TextBoxFor(m => m.PayeeName, new { @class = "form-control", @id = "inPayeeName", @required = true })
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group label-floating" id="divDrawnToPayTo">
										<label class="control-label">Payee's Address</label>
										@*@Html.TextAreaFor(m => m.Payee, new { @class = "form-control", @id = "taDrawnToPayTo", @onclick = "showAddressModalPayee()", @rows = "4", @onblur = "getFirstLine();" })*@
										@Html.TextAreaFor(m => m.Payee, new { @class = "form-control", @id = "taDrawnToPayTo", @rows = "4" })
										@*<input type="button" class="hidden" id="btnShowAddressModalPayee" data-toggle="modal" data-target="#exampleModalLongAdddressPayee">
											<input type="text" class="hidden" id="inPayeeLine1">
											<input type="text" class="hidden" id="inPayeeLine2">
											<input type="text" class="hidden" id="inPayeeCity">
											<input type="text" class="hidden" id="inPayeeZip">
											<input type="text" class="hidden" id="inPayeePhone">*@
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group label-floating" id="divPayeePhone">
										<label class="control-label">Payee Phone</label>
										@Html.TextBoxFor(m => m.PayeePhone, new { @class = "form-control", @id = "inPayeePhone", @type = "tel" })
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<div class="form-group label-floating" id="divMemo">
										<label class="control-label">Memo</label>
										@Html.TextBoxFor(m => m.Memo, new { @class = "form-control", @id = "inMemo", @maxLength = "50" })
									</div>
								</div>
							</div>
							<div class="row">
								@*<div class="col-md-3">
									<div class="form-group label-floating" id="divCheckCount">
										<label class="control-label">Number of Checks (Batch)</label>*@
								@*<input id="inBatchCount" type="number" class="form-control" min="2" max="100" value="2" required disabled />*@
								@*@Html.TextBoxFor(m => m.BatchCount, new { @class = "form-control", @id = "inBatchCount", @type = "number", @min = "2", @max = "100", @value = "2", @required = true, @disabled = true })*@
								@*</div>
									</div>*@
								<div class="col-md-3">
									<button id="btnCreate" type="button" class="btn btn-info btn-sm pull-left">
										<i class="material-icons">save</i> Create
									</button>
								</div>

								@*<div class="col-md-4">
										<div class="alert alert-default alert-with-icon" data-notify="container">
											<i data-notify="icon" class="material-icons">add_alert</i>
											<span data-notify="message">
												SIGNATURE NOT REQUIRED. THIS PAYMENT HAS BEEN AUTHORIZED BY YOUR DEPOSITOR. Any questions? Call: (Payer's phone number inserted here). SIGNED: (Payer's name will be inserted here) by
												authorized representative.
											</span>
										</div>
									</div>*@
							</div>
							<div class="row">
								@*<div class="alert alert-default">
										<label class="radio-inline">
											Check Layout
										</label>
										<label class="radio-inline">
											<input type="radio" name="optradio" value="Top" checked="checked">Top
										</label>
										<label class="radio-inline">
											<input type="radio" name="optradio" value="Middle">Middle
										</label>
										<label class="radio-inline">
											<input type="radio" name="optradio" value="Bottom">Bottom
										</label>
										<label class="radio-inline">
											<input type="radio" name="optradio" value="Batch">Batch
										</label>
									</div>*@
								@*@Html.TextBoxFor(m => m.BankAddress, new { @class = "hidden", @id = "inBankAddressLine1" })
									@Html.TextBoxFor(m => m.BankCityStateZip, new { @class = "hidden", @id = "inBankAddressLine2" })*@
								@Html.TextBoxFor(m => m.CheckLayout, new { @class = "hidden", @id = "inLayout" })
								@Html.TextBoxFor(m => m.ProcessType, new { @class = "hidden", @id = "inProcessType" })
							</div>

							<button id="btnSubmit" type="submit" name="action:Download" class="hidden">Submit</button>
						}
						<div class="clearfix">
							<button id="btnDownload" type="button" class="btn btn-info pull-left hidden" onclick="save()" disabled>
								<i class="material-icons">save</i> Download/Save a PDF Copy
							</button>
							<button id="btnPreview" type="button" class="btn btn-primary pull-left hidden" onclick="preview()" disabled>
								<i class="material-icons">visibility</i> Preview
							</button>
						</div>
					</div>
					<div class="tab-pane" id="messages">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" name="optionsCheckboxes" checked>
											</label>
										</div>
									</td>
									<td>
										Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
									</td>
									<td class="td-actions text-right">
										<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
											<i class="material-icons">edit</i>
										</button>
										<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
											<i class="material-icons">close</i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" name="optionsCheckboxes">
											</label>
										</div>
									</td>
									<td>Sign contract for "What are conference organizers afraid of?"</td>
									<td class="td-actions text-right">
										<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
											<i class="material-icons">edit</i>
										</button>
										<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
											<i class="material-icons">close</i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="tab-pane" id="settings">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" name="optionsCheckboxes">
											</label>
										</div>
									</td>
									<td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
									<td class="td-actions text-right">
										<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
											<i class="material-icons">edit</i>
										</button>
										<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
											<i class="material-icons">close</i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" name="optionsCheckboxes" checked>
											</label>
										</div>
									</td>
									<td>
										Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
									</td>
									<td class="td-actions text-right">
										<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
											<i class="material-icons">edit</i>
										</button>
										<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
											<i class="material-icons">close</i>
										</button>
									</td>
								</tr>
								<tr>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" name="optionsCheckboxes">
											</label>
										</div>
									</td>
									<td>Sign contract for "What are conference organizers afraid of?"</td>
									<td class="td-actions text-right">
										<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
											<i class="material-icons">edit</i>
										</button>
										<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
											<i class="material-icons">close</i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Add/Edit Payer Modal -->
<div class="modal fade" id="exampleModalLongPayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 85%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Select Payer</h4>
			</div>
			<div class="card-content table-responsive">
				<div class="zebra">
					<table id="tblPayer" class="" style="width:100%">
						<thead class=""></thead>
						<tbody id="tblPayerBody"></tbody>
					</table>
				</div>
			</div>
			<div class="card-footer">
				<button id="btnCancelPayer" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--End of Add/Edit Payer Modal -->
<!--Add/Edit Payee Modal -->
<div class="modal fade" id="exampleModalLongPayee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 85%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Select Payee</h4>
			</div>
			<div class="card-content table-responsive">
				<table id="tblPayee" class="zebra" style="width: 100%;">
					<thead class=""></thead>
					<tbody id="tblPayerBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCancelPayee" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--End of Add/Edit Payee Modal -->
<!--All Banks Modal -->
<div class="modal fade" id="exampleModalLongAllBankChecks" style="margin-top: -70px; " tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllBankTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 90%;" role="document">
		<div class="card">
			<div class="card-content table-responsive">
				<table id="tblBankChecks" class="table" style="width:100%;">
					<thead class="">
					</thead>
					<tbody id="tblBankChecksBody"></tbody>
				</table>
			</div>
			<div class="card-footer">
				<button id="btnCloseBank" type="submit" class="btn btn-info" data-dismiss="modal">
					<i class="material-icons">highlight_off</i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--All Banks Modal -->
<!--Add/Edit Address Modal -->
<div class="modal fade" id="exampleModalLongAdddress" tabindex="-1" role="dialog" style="margin-top: -70px; " aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 35%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Payer Address</h4>
				<p class="category" id="h4SelectSubModal">Please fill out the right fields</p>
			</div>
			<form id="frmAddress">
				<div class="card-content table-responsive">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group label-floating formataddressdiv" id="divAddressLine1">
								<label class="control-label">Address Line 1</label>
								<input type="text" id="inAddressLine1" class="form-control formataddress" disabled>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group label-floating formataddressdiv" id="divAddressLine2">
								<label class="control-label">Address Line 2</label>
								<input type="text" id="inAddressLine2" class="form-control formataddress" disabled>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group label-floating formataddressdiv" id="divCity">
								<label class="control-label">City/State</label>
								<input type="text" id="inCity" class="form-control formataddress" disabled>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group label-floating formataddressdiv" id="divZIPCode">
								<label class="control-label">ZIP Code</label>
								<input type="text" id="inZIPCode" class="form-control formataddress" disabled>
							</div>
						</div>
					</div>
					<div class="row">

						<div class="col-md-6">
							<div class="form-group label-floating formataddressdiv" id="divPhoneNumber">
								<label class="control-label">Phone Number</label>
								<input type="text" id="inPhoneNumber" class="form-control formataddress" disabled>
							</div>
						</div>
					</div>
					Choose Format:
					<div class="row">
						<div class="col-md-6">
							<input type="radio" name="addressformat" value="1" id="rd1" /> <label for="rd1">Format 1</label><br>
							<b>SMALLSYS INC E DRAGRAM</b> (<i>Address Line 1</i>) <br>
							<b>TUCSON AZ 85705</b> (<i>City/State/ZIP</i>) <br>
							<b>(372) 587-9869</b> (<i>Phone Number</i>)
						</div>
						<div class="col-md-6">
							<input type="radio" name="addressformat" value="2" id="rd2" /> <label for="rd2">Format 2</label><br>
							<b>100 MAIN ST</b> (<i>Address Line 1</i>) <br>
							<b>PO BOX 1022</b> (<i>Address Line 2</i>) <br>
							<b>SEATTLE WA 98104</b> (<i>City/State/ZIP</i>) <br>
							<b>(372) 587-2296</b> (<i>Phone Number</i>)
						</div>
					</div><br>
					<div class="row">
						<div class="col-md-6">
							<input type="radio" name="addressformat" value="3" id="rd3" /> <label for="rd3">Format 3</label><br>
							<b>MEGASYSTEMS INC</b> (<i>Address Line 1</i>) <br>
							<b>799 E DRAGRAM SUITE 5A</b> (<i>Address Line 2</i>) <br>
							<b>TUCSON AZ</b> (<i>CITY/STATE</i>) <br>
							<b>85705</b> (<i>ZIP</i>) <br>
							<b>(372) 587-1114</b> (<i>Phone Number</i>)
						</div>
						<div class="col-md-6">
							<input type="radio" name="addressformat" value="4" id="rd4" checked /><label for="rd4"> Format 4</label><br>
							<b>EMPTY ADDRESS</b>
						</div>
					</div>
				</div>

				<div class="card-footer">
					<button id="btnCancel" class="btn btn-secondary" data-dismiss="modal">
						<i class="material-icons">highlight_off</i> Cancel
					</button>
					<button id="btnConfirm" type="submit" class="btn btn-info" onclick="">
						<i class="material-icons">check</i> Confirm
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--End of Add/Edit Address Modal -->
<!--Add/Edit Address Modal Payee -->
<div class="modal fade" id="exampleModalLongAdddressPayee" tabindex="-1" role="dialog" style="margin-top: -70px; " aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 35%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Payee Address</h4>
				<p class="category" id="h4SelectSubModal">Please fill out the right fields</p>
			</div>
			<form id="frmAddressPayee">
				<div class="card-content table-responsive">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group label-floating formataddressdiv" id="divAddressLine1Payee">
								<label class="control-label">Address Line 1</label>
								<input type="text" id="inAddressLine1Payee" class="form-control formataddress" disabled>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group label-floating formataddressdiv" id="divAddressLine2Payee">
								<label class="control-label">Address Line 2</label>
								<input type="text" id="inAddressLine2Payee" class="form-control formataddress" disabled>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group label-floating formataddressdiv" id="divCityPayee">
								<label class="control-label">City/State</label>
								<input type="text" id="inCityPayee" class="form-control formataddress" disabled>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group label-floating formataddressdiv" id="divZIPCodePayee">
								<label class="control-label">ZIP Code</label>
								<input type="text" id="inZIPCodePayee" class="form-control formataddress" disabled>
							</div>
						</div>
					</div>
					<div class="row">

						<div class="col-md-6">
							<div class="form-group label-floating formataddressdiv" id="divPhoneNumberPayee">
								<label class="control-label">Phone Number</label>
								<input type="text" id="inPhoneNumberPayee" class="form-control formataddress" disabled>
							</div>
						</div>
					</div>
					Choose Format:
					<div class="row">
						<div class="col-md-6">
							<input type="radio" name="addressformatPayee" value="1" id="rd1Payee" /> <label for="rd1Payee">Format 1</label><br>
							<b>SMALLSYS INC E DRAGRAM</b> (<i>Address Line 1</i>) <br>
							<b>TUCSON AZ 85705</b> (<i>City/State/ZIP</i>) <br>
							<b>(372) 587-9869</b> (<i>Phone Number</i>)
						</div>
						<div class="col-md-6">
							<input type="radio" name="addressformatPayee" value="2" id="rd2Payee" /> <label for="rd2Payee">Format 2</label><br>
							<b>100 MAIN ST</b> (<i>Address Line 1</i>) <br>
							<b>PO BOX 1022</b> (<i>Address Line 2</i>) <br>
							<b>SEATTLE WA 98104</b> (<i>City/State/ZIP</i>) <br>
							<b>(372) 587-2296</b> (<i>Phone Number</i>)
						</div>
					</div><br>
					<div class="row">
						<div class="col-md-6">
							<input type="radio" name="addressformatPayee" value="3" id="rd3Payee" /> <label for="rd3Payee">Format 3</label><br>
							<b>MEGASYSTEMS INC</b> (<i>Address Line 1</i>) <br>
							<b>799 E DRAGRAM SUITE 5A</b> (<i>Address Line 2</i>) <br>
							<b>TUCSON AZ</b> (<i>CITY/STATE</i>) <br>
							<b>85705</b> (<i>ZIP</i>) <br>
							<b>(372) 587-1114</b> (<i>Phone Number</i>)
						</div>
						<div class="col-md-6">
							<input type="radio" name="addressformatPayee" value="4" id="rd4Payee" checked /><label for="rd4Payee"> Format 4</label><br>
							<b>EMPTY ADDRESS</b>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<button id="btnCancelPayee2" class="btn btn-secondary" data-dismiss="modal">
						<i class="material-icons">highlight_off</i> Cancel
					</button>
					<button id="btnConfirmPayee" type="submit" class="btn btn-info">
						<i class="material-icons">check</i> Confirm
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--End of Add/Edit Address Modal Payee-->

@section Scripts
{
	<script src="@Url.Content("~/Scripts/Checks/Checks.js")"></script>
}