﻿
@{
	ViewBag.Title = "CProfile";
}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header" data-background-color="blue">
						<h4 class="title">Edit Profile</h4>
						<p class="category">Complete your profile</p>
					</div>
					<div class="card-content">
						<div class="row">
							<div class="col-md-5">
								<div class="form-group label-floating">
									<label class="control-label">Company (disabled)</label>
									<input type="text" class="form-control" disabled>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group label-floating" id="divUserName">
									<label class="control-label">Username</label>
									<input type="text" id="txtUserName" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group label-floating" id="divEmailAddress">
									<label class="control-label">Email address</label>
									<input type="email" id="txtEmailAddress" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group label-floating" id="divFirstName">
									<label class="control-label">Fist Name</label>
									<input type="text" id="txtFirstName" class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group label-floating" id="divLastName">
									<label class="control-label">Last Name</label>
									<input type="text" id="txtLastName" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group label-floating" id="divAddress">
									<label class="control-label">Adress</label>
									<input type="text" id="txtAddress" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">City</label>
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Country</label>
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group label-floating">
									<label class="control-label">Postal Code</label>
									<input type="text" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>About Me</label>
									<div class="form-group label-floating">
										<label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
										<textarea class="form-control" rows="5"></textarea>
									</div>
								</div>
							</div>
						</div>
						<button type="submit" id="btnUpdateProfile" class="btn btn-info pull-right">Update Profile</button>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="card-avatar">
						<a href="#pablo">
							<img class="img" src="../Content/material-dashboard/assets/img/faces/marc.jpg" />
						</a>
					</div>
					<div class="content">
						<h6 class="category text-gray">CEO / Co-Founder</h6>
						<h4 class="card-title" id="h4FullName"></h4>
						<p class="card-content">
							Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
						</p>
						<a href="#pablo" class="btn btn-info btn-round">Follow</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="@Url.Content("~/Scripts/CProfile/CProfile.js")"></script>
}
