﻿
@{
	ViewBag.Title = "Reports";
}

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header card-chart" data-background-color="green">
				<div class="ct-chart" id="dailySalesChart"></div>
			</div>
			<div class="card-content">
				<h4 class="title">Monthly No. of Checks</h4>
				<p class="category">
					@*<span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.*@
				</p>
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons">access_time</i> updated 4 minutes ago
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header card-chart" data-background-color="orange">
				<div class="ct-chart" id="emailsSubscriptionChart"></div>
			</div>
			<div class="card-content">
				<h4 class="title">Monthly Total Amount</h4>
				@*<p class="category">Last Campaign Performance</p>*@
			</div>
			<div class="card-footer">
				<div class="stats">
					<i class="material-icons">access_time</i> campaign sent 2 days ago
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 col-md-12">
		<div class="card">
			<div class="card-header" data-background-color="purple">
				<h4 class="title">Recently Used Payers</h4>
				<p class="category">Payers from your recently created checks</p>
			</div>
			<div class="card-content table-responsive">
				<div class="row">
					<div class="col-md-12 text-right">
						<button class="btn btn-white btn-sm" data-toggle="modal" data-target="#exampleModalLongAllRecentPayer" onclick="loadTableAllPayers();"><i class="fa fa-reorder"></i>  View All Payers</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="zebra" style="width: 100%;">
							<thead class="">
								<tr>
									<th>Payer Name</th>
									<th>Check Number</th>
									<th>Amount</th>
									<th>Bank</th>
									<th>Account Number</th>
								</tr>
							</thead>
							<tbody id="tblRecentlyUsedPayers"></tbody>
						</table>
					</div>
				</div>
				@*<div class="row">
						<div class="col-md-2"><a href="#" data-toggle="modal" data-target="#exampleModalLongAllRecentPayer" onclick="loadTableAllPayers();"><u>View All</u></a></div>
					</div>*@
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title">Recently Used Payees</h4>
				<p class="category">Payees from your recently created checks</p>
			</div>
			<div class="card-content table-responsive">
				<div class="row">
					<div class="col-md-12 text-right">
						<button class="btn btn-white btn-sm" data-toggle="modal" data-target="#exampleModalLongAllRecentPayee" onclick="loadTableAllPayees();"><i class="fa fa-reorder"></i>  View All Payees</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="zebra" style="width: 100%;">
							<thead class="">
								<tr>
									<th>Payee Name</th>
									<th>Check Number</th>
									<th>Amount</th>
									<th>Bank</th>
									<th>Account Number</th>
									<th>Payer</th>
								</tr>
							</thead>
							<tbody id="tblRecentlyUsedPayees"></tbody>
						</table>
					</div>
				</div>
				@*<div class="row">
						<div class="col-md-2"><a href="#" data-toggle="modal" data-target="#exampleModalLongAllRecentPayee" onclick="loadTableAllPayees();"><u>View All</u></a></div>
					</div>*@
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-12">
		<div class="card">
			<div class="card-header" data-background-color="red">
				<h4 class="title">Checks</h4>
				<p class="category">Checks with their corresponding total amount and count by month</p>
			</div>
			<div class="card-content table-responsive">
				<table class="zebra" style="width: 100%;">
					<thead class="">
						<tr>
							<th>Month</th>
							<th>Total Amount</th>
							<th>Total Count</th>
						</tr>
					</thead>
					<tbody id="tblChecks"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--All Payer Modal -->
<div class="modal fade" id="exampleModalLongAllRecentPayer" style="margin-top: -70px;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllRecentPayerTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 90%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Payers Used</h4>
				<p class="category" id="h4SelectSubModal">Some sub for select payer</p>
			</div>
			<div class="card-content table-responsive">
				<div class="zebra">
					<table id="tblAllPayers" class="" style="width:100%;">
						<thead class="">
						</thead>
						<tbody id="tblPayerBodyPayers"></tbody>
					</table>
				</div>
			</div>

			<div class="card-footer">
				<button id="btnCancelPayer" type="submit" class="btn btn-info btn-sm" data-dismiss="modal">
					<i class="fa fa-location-arrow"></i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--All Payer Modal -->
<!--All Payee Modal -->
<div class="modal fade" id="exampleModalLongAllRecentPayee" style="margin-top: -70px;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongAllRecentPayeeTitle" aria-hidden="true">
	<div class="modal-dialog" style="width: 90%;" role="document">
		<div class="card">
			<div class="card-header" data-background-color="blue">
				<h4 class="title" id="h4SelectModal">Payees Used</h4>
				<p class="category" id="h4SelectSubModal">Some sub for select payee</p>
			</div>
			<div class="card-content table-responsive">
				<div class="zebra">
					<table id="tblAllPayees" style="width:100%;">
						<thead class="">
						</thead>
						<tbody id="tblPayerBodyPayees"></tbody>
					</table>
				</div>
			</div>
			<div class="card-footer">
				<button id="btnCancelPayer" type="submit" class="btn btn-info" data-dismiss="modal">
					<i class="material-icons">highlight_off</i> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<!--All Payee Modal -->



@section Scripts
{
	<script src="@Url.Content("~/Scripts/Reports/Reports.js")"></script>
}



